@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width:767px) {
   .b{
    display: block;   
} 

}
.circle{
    width: 50px;
    height:  50px;
    border-radius: 5px;
    
    
}
.circle:hover{
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.395);

}

/* .overflowH{
    width: 700px;
    height: 500px;
    overflow: scroll;
    overflow-y:  auto;
} */


/* .tarjeta{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(rgb(255, 0, 0) 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}



.tarjeta::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.pepe{
    
    z-index: 2;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px black;
} */
/* TARJETA..................2 */

/* .tarjeta2{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta2::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(rgb(0, 174, 255) 20deg, transparent 120deg);
    animation: rotar 2.3s linear infinite;
}


.tarjeta2::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: rgb(0, 174, 255);
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */
/* TARJETA ..............3 */
/* 
.tarjeta3{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta3::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#7B48EE 20deg, transparent 120deg);
    animation: rotar 2.4s linear infinite;
}


.tarjeta3::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #7B48EE;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */

/* TARJETA ................4 */
/* .tarjeta4{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta4::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#2582cf 20deg, transparent 120deg);
    animation: rotar 2.5s linear infinite;
}


.tarjeta4::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #2582cf;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}
 */

/* TARJETA ................5 */

/* .tarjeta5{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta5::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#EFD948 20deg, transparent 120deg);
    animation: rotar 2.6s linear infinite;
}


.tarjeta5::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #EFD948;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */


/* TARJETA ..................6 */

/* .tarjeta6{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta6::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#5ED3F2 20deg, transparent 120deg);
    animation: rotar 2.7s linear infinite;
}


.tarjeta6::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #5ED3F2;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */


/* TARJETA.......................7 */

/* .tarjeta7{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta7::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#3C823B 20deg, transparent 120deg);
    animation: rotar 2.8s linear infinite;
}


.tarjeta7::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #313131;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}


/* TARJETA .............8 */

/* .tarjeta8{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta8::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#EFD948 20deg, transparent 120deg);
    animation: rotar 2.4s linear infinite;
}


.tarjeta8::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}
 */ */

/* TARJETA ...................9 */

/* .tarjeta9{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta9::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#439533 20deg, transparent 120deg);
    animation: rotar 2.3s linear infinite;
}


.tarjeta9::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: white;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */

/* TARJETA ....................10 */

/* 
.tarjeta10{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta10::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#EFD948 20deg, transparent 120deg);
    animation: rotar 2.2s linear infinite;
}


.tarjeta10::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #F4A440;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */



/* TARJETA ...........11 */
/* .tarjeta11{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta11::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#080808 20deg, transparent 120deg);
    animation: rotar 2.2s linear infinite;
}


.tarjeta11::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #080808;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */

/* TARJETA .............12 */
/* .tarjeta12{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta12::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(#F0797D 20deg, transparent 120deg);
    animation: rotar 2.2s linear infinite;
}


.tarjeta12::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: #FACF5B;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
} */

{}